@CHARSET "UTF-8";

#layout-container {
  	margin:auto;
  	width: 1000px; 
  	background: #1fffff;
}

#layout-header {
	background-image: url('images/banner.jpg'); 
	height: 200px;
}

#layout-left {
	float: left;
	width: 150px;
	height:100%;
}

#layout-content {
	float:left;
	width:700px;
	height:100%;
	background-color: #cdcde6;
}

#layout-right {
	float:right;
	width: 150px;
	height:100%;
}

#layout-footer {
	clear:both;
	background:#DDDDDD;
} 